/* Center the login form */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-box {
    background-color: #0e141a;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  .switch-auth {
    margin-top: 20px;
    font-family: 'Nyxerin', sans-serif;
    color: #1bc429;
  }
  
  .switch-auth a {
    color: #1bc429;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .switch-auth a:hover {
    color: #0F6216; /* Darker green on hover */
  }
  
  .button-container {
    margin: 20px auto; /* Centers the button horizontally and adds some margin */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .message-container {
    text-align: center; /* Centers the text */
    margin-top: 20px; /* Adds space above the text block */
  }
  
  .message-container p {
    font-family: 'Nyxerin', sans-serif; /* Use your font */
    color: #1bc429; /* Text color */
    font-size: 18px; /* Adjust font size */
    margin-bottom: 10px; /* Adds space between the lines */
    letter-spacing: 1px; /* Adjusts the space between letters */
  }
  
  .message-container a {
    color: #1bc429; /* Match the link color to text */
    text-decoration: underline;
    cursor: pointer;
  }
  
  .message-container a:hover {
    color: #0F6216; /* Change color on hover */
  }
  
  
  h2 {
    color: #1bc429;
    font-family: 'Nyxerin', sans-serif;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .input-field {
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #1bc429;
    background-color: #0c1a2a;
    color: #fff;
    font-size: 16px;
    outline: none;
    transition: border 0.3s ease;
  }
  
  .input-field:focus {
    border-color: #4caf50;
  }
  
  .message {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .success {
    color: #4caf50;
  }
  
  .error {
    color: #f44336;
  }
  