/* DateSelection.css */

.date-selection-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .date-selection-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    font-size: 48px;
    color: #00FF00;
    font-family: 'Nyxerin', sans-serif;
  }
  
  
  .date-selection-month {
    display: flex;
    align-items: center;
    color: #00FF00;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .month-button {
    background: transparent;
    border: none;
    color: #00FF00;
    font-size: 24px;
    cursor: pointer;
    margin: 0 20px;
  }
  
  .date-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 300px;
    text-align: center;
  }
  
  .date-item {
    padding: 10px 0;
    color: #00FF00;
    cursor: pointer;
    font-size: 18px;
  }
  
  .date-item.selected {
    background: #00FF00;
    color: #000;
  }
  
  .date-selection-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
  }
  