/* src/screens/AdminDashboard/AdminDashboard.css */

.admin-dashboard-container {
    background-color: #000d1c;
    min-height: 100vh;
    padding: 20px;
    color: #00FF00;
    font-family: 'Tomorrow', sans-serif;
    display: flex;
    flex-direction: column; /* Stack components vertically */
  }
  