
.navbar {
  position: fixed; /* Make the navbar fixed to the top */
  top: 0;
  width: 100%;
  height: 124px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: rgba(0, 0, 0, 0.1);  */
  background: linear-gradient(180deg, #000d1c 0%, rgba(0, 13, 28, 0) 100%);

  overflow: hidden;
}

.navbar.expanded {
  background: #000d1c !important;
}

.navbar-container {
  display: flex;
  width: 100%;
  max-width: 1872px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-left, .nav-center, .nav-right {
  display: flex;
  align-items: center;
}

.nav-left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  padding-left: 60px;
}

.nav-center {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.nav-item {
  color: #1bc429;
  font-family: 'Nyxerin', sans-serif;
  font-size: 35px;
  text-align: center;
  cursor: pointer;
  z-index: 2;
}

.nav-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;
}

.nav-right .nav-item {
  margin-left: 20px;
}

.nav-icon {
  height: 22px; /* Adjust the height as needed */
  width: auto;  /* Ensure the width scales proportionally */
}

.dropdown-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 13, 28, 1) 0%, rgba(0, 13, 28, 1) 60%, rgba(0, 13, 28, 0.5) 100%);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Start aligning items at the top */
  padding: 0px;
  box-sizing: border-box;
}

.expanded-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 10%; /* Adjust this value to move the menu higher */
}

.line {
  width: 100%; /* Ensures the line spans the full width of its container */
  text-align: center;
  margin: 0px 0; /* Adds some spacing around the line */
}

.line-img {
  width: 100%; /* Full width for the line */
  height: 5px; /* Increase this value to make the line thicker */
  object-fit: cover; /* Ensure the image scales to fit the width */
}

.dropdown-item {
  color: #1bc429;
  font-family: 'Nyxerin', sans-serif;
  font-size: 35px;
  margin: 20px 0; /* Increase spacing between items */
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.dropdown-item:hover {
  color: #00ff00; /* Match the green color */

}

/* Reset the default Link styles */
.nav-item a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit the color from the parent element */
  font-family: 'Nyxerin', sans-serif; /* Ensure consistent font */
  font-size: 35px; /* Ensure it matches your other nav-item text */
}

/* Optional: Add hover effect if you want */
.nav-item a:hover {
  /* text-decoration: underline; */
  color: #00ff00; /* Match the green color */
}


button {
  background-color: transparent;
  border: none;
  color: #1bc429;
  font-family: 'NYXERIN-Regular', Helvetica, sans-serif;
  cursor: pointer;
}

button:hover {
  text-decoration: underline;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .nav-item {
    font-size: 25px;
  }

  .dropdown-overlay {
    padding: 15px;
  }

  .dropdown-item {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .nav-item {
    font-size: 20px;
  }

  .dropdown-overlay {
    padding: 10px;
  }

  .dropdown-item {
    font-size: 20px;
  }
}
